/* Global */
* {
    margin: 0;
    padding: 0;
}

:root {
    --blue: rgb(60, 158, 238);
    --grey: rgb(224, 216, 216);
}

ul {
    list-style: none;
}

/* Container */
.container {
    resize: both;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 4fr;
    /* grid-template-rows: 1fr 4fr; */
}

/* Sidebar */
.sidebar {
    padding: 30px;
    background-color: var(--blue);
    grid-row: 1 / 3;
    display: grid;
    gap: 50px;
    grid-template-rows: 1fr 3fr 2fr;
}

.sidebar > div {
    /* padding: 20px; */
    font-family: Helvetica;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.sidebar .logo {
    font-size: 30px;
}

.sidebar ul {
    display: grid;
    gap: 10px;
}

/* Header */
.header {
    padding: 20px;
    background-color: white;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.header input {
    border-radius: 15px;
    border: solid var(--grey);
    background-color: var(--grey);
    width: 70%;
    height: 25px;
}

.header button {
    padding: 15px;
    background-color: var(--blue);
    color: white;
    border: solid;
    border-radius: 20px;
    font-weight: bold;
}


/* Content */
.content {
    background-color: var(--grey);
}