/* Global */
* {
    margin: 0;
    padding: 0;
}

:root {
    --blue: rgb(60, 158, 238);
    --grey: #dbeafe;
}

ul {
    list-style: none;
}

/* Container */
.container {
    resize: both;
    display: grid;
    /* gap: 5px; */
    grid-row-gap: 3px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
}

/* Sidebar */
.sidebar {
    padding: 30px;
    background-color: var(--blue);
    grid-row: 1 / 3;
    display: grid;
    gap: 50px;
    grid-template-rows: 1fr 3fr 2fr;
}

.sidebar > div {
    /* padding: 20px; */
    font-family: Helvetica;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.sidebar .logo {
    font-size: 30px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
}

.logo img {
    width: 50px;
    height: auto;
}

.sidebar ul {
    display: grid;
    gap: 20px;
}

.sidebar ul li {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr;
}

.sidebar ul li img {
    width: 30px;
    height: auto;
}

.sidebar ul li p {
    display: inline;
}

/* Header */
.header {
    padding: 20px;
    padding-left: 40px;
    background-color: white;
    grid-column: 2 / 3;
    display: grid;
    gap: 50px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    box-shadow: 0 10px 5px -8px #888888;
}

.header input {
    border-radius: 15px;
    border: solid var(--grey);
    background-color: var(--grey);
    width: 100%;
    height: 25px;
}

.header button {
    padding: 15px 30px;
    background-color: var(--blue);
    color: white;
    border: solid;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
}

.search-bar {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 18fr 3fr;
}

.search-bar img, .small-profile img {
    width: 30px;
    height: auto;
}

.small-profile {
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    justify-items: center;
}

.small-profile p {
    font-weight: bold;
    font-size: 20px;
}

#john-cena, #bigger-john-cena  {
    background-image: url("./images/john-cena.jpg");
    background-size: 150%;
    background-position-x: center;
    border-radius: 50%;    
    width: 70px;
    height: 70px;
}

#bigger-john-cena {   
    width: 100px;
    height: 100px;
}

.big-profile {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 4fr 3fr;
}

.big-profile-text {
    align-self: center;
}

.greetings, .user-info {
    font-weight: bold;
}

.user-info {
    font-size: 30px;
}

.buttons {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

/* Content */
.content {
    padding: 40px 20px;
    background-color: var(--grey);
    display: grid;
    gap:30px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.project-div {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 25px;
    gap: 15px;
}

.projects {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, min-content));
}

.project {
    padding: 20px;
    width: 300;
    height: 200;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 30px min-content 30px;
    gap: 10px;
    /* overflow: auto; */
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: green;
    box-shadow: 1px 1px 3px black;
}

.content-header {
    font-weight: 600;
    font-size: 30px;
}

.project-icons img {
    width: 30px;
    height: auto;
}

.project-icons {
    display: grid;
    justify-self: end;
    padding-right: 30px;
    grid-template-columns: repeat(3, 30px);
    gap: 15px;
}

.project-title {
    font-weight: bold;
    font-size: 20px;
    align-self: last baseline;
}

.project-text {
    font-size: 18px;
    color: grey;
}

.announcements-div {
    display: grid;
    grid-template-rows: 25px;
    gap: 15px; 
}

.announcements {
    padding: 30px;
    background-color: white;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.announcement {
    padding-bottom: 20px;
    align-items: center;
    display: grid;
    gap: 10px;
    border: grey;
    border-bottom-style: solid;
    border-radius: 5px;
    border-bottom-width: 1px;
}

.announcement-title {
    font-weight: bold;
}

.announcement-text {
    color: grey;
}

.trending-div {
    display: grid;
    grid-template-rows: 25px;
    gap: 15px;
}

.trendings {
    padding: 30px;
    background-color: white;
    display: grid;
    gap: 20px;
    align-items: center;
    grid-template-rows: repeat(autofit, minmax(70px, 100px));
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
}

.trending {
    display: grid;
    gap: 10px;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr 1fr;
}

.trending #john-cena {
    grid-row: 1 / 3;
}

.trending-user {
    font-weight: bold;
    align-self: last baseline;
}

.trending-project {
    color: grey;
}